<%- include('./partials/head') %><!--maak gebruik van partias voor de header-->


<main>

    <div class="grid-container">

        <section>
            <h1><%= data.data.name %>
                <%= data.data.prefix %>
                <%= data.data.surname %>
            </h1>
        </section>

        <section class="">
            <img class="image" src="/images/image.jpg" height="" alt="Dit is mijn foto"><!--dit hoort zo te staan omdat de images anders niet vindbaar is -->
            <h2 class="about-me">Over mij</h2>
            <p> Leeftijd: <%= data.data.custom.age %> jaar</p>
            <p class="bio"> Bio: <%= data.data.bio %></p>
            <p class="vooropleiding">Mijn vooropleiding:<a href="https://www.regiocollege.nl/mbo-opleiding/softwaredeveloper">
                    <%= data.data.custom.opleiding %></a></p>
            <p class="squad">Ik zit in squad: <%=datasquad.data.name%></p>
        </section>

        <section class=""><!--social-media-->
            <h2>Social media</h2>
            <ul>
                <li>
                    <a href="<%= data.website %>">
                        <img src="/public/images/25231.png" width="40px">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/yu-jing-van-gerwen-a959431b7/">
                        <img src=".../images/linkedin.png" width="40px">
                    </a>
                </li>
            </ul>
        </section>

    </div>

</main>

<%- include('./partials/foot') %>
